<div class="layout-container">
  <%= render partial: "admin/shared/top_nav_bar" %>
  <%= render partial: "admin/shared/side_bar" %>

  <div class="sidebar-layout-obfuscator"></div>
  <!-- Main section-->
  <main class="main-container">
    <!-- Page content-->
    <section>
      <%= render partial: "admin/shared/game_header" %>

      <div class="container-fluid">
        <h6 class="mt0 small-mt0">Inventory</h6><br/>
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th>Amount</th>
                      <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% collection.each do |order_item| %>
                      <tr>
                        <td class="va-middle">
                          <span class="badge bg-pink-500"><%= order_item.id %></span>
                        </td>
                        <td><p class="m0"><%= order_item.title %></p></td>
                        <td class="va-middle">$<%= order_item.price %></td>
                        <td class="va-middle"><%= order_item.quantity %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <% if flash[:notice] %>
              <h6 class="mt0 small-mt0"><%= flash[:notice] %></h6><br/>
            <% end %>

            <div class="card">
              <div class="card-body">
                <%= form_tag admin_inventory_upload_csv_path, multipart: true do %>
                  <%= file_field_tag :file %>
                  <br/>
                  <%= submit_tag "Import CSV", class: "btn btn-info btn-s" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <%= render partial: "admin/shared/footer" %>
  </main>
</div>
