<div class="callout">
  <div class="row column text-center">
    <%= image_tag "logo.png" %>
    <p class="lead">Simple Ordering Design</p>
  </div>
</div>

<div class="row column">
  <ul class="vertical medium-horizontal menu expanded text-center">
    <li><a href="#"><div id="orders_pending" class="stat"><%= @pending %></div><span>Pending</span></a></li>
    <li><a href="#"><div id="loader" class="stat" style="display:none;"><%= image_tag "loader.gif" %></div><span></span></a></li>
    <li><a href="#"><div id="orders_done" class="stat"><%= @done %></div><span>Done</span></a></li>
  </ul>
</div>

<hr>

<div id="orders" class="row small-up-1 medium-up-2 large-up-3">
  <%= render orders %>
</div>

<hr>
