<div class="layout-container">
  <main class="main-container" style="margin-left:0px;">

    <div class="container-fluid">
      <div class="jumbotron" style="text-align:center;padding:0px 0px;">
        <div class="container">
          <%= image_tag "logo-2.png", style: "height:85px" %>
          <!-- <p>Simple Ordering Design</p> -->
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="well" style="text-align:center;padding:0px 0px;">
            <!-- hidden temporaly - there're others AJAX call being made -->
            <!-- <div id="loader_spinner" style="display:none;"><%= image_tag "loader.gif" %></div> -->
            <h3 id="orders_pending"><%= @pending %></h3>
            <h6 class="mt0">Pending</h6>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="well" style="text-align:center;padding:0px 0px;">
            <h3 id="orders_done"><%= @done %></h3>
            <h6 class="mt0">Done</h6>
          </div>
        </div>
      </div>

      <div id="orders" class="row">
        <%= render orders %>
      </div>
    </div>

  </main>
</div>
