<div id="order_<%= order.id %>" class="col-lg-3">
  <div id="panelDemo7" class="panel panel-primary" style="border-color:rgba(68, 138, 255, 1.15)">
    <div class="panel-heading">
      <div class="panel-title">
        Order #<%= order.id %> - <%= order.created_at.strftime("%I:%M:%S") %>
      </div>
    </div>
    <div class="panel-body">
      <p>Ph# <%= order.phone %></p>
      <p>Seat Address <b><%= order.seat_address %></b></p>

      <hr>

      <% [1,2,3].sample.times do |i| %>
        <%= ["Hotdog", "M Coke", "S Curly Fries", "Hamburger"].sample %> -
        <%= [1, 2, 3].sample %>
        <br/>
      <% end %>
    </div>

    <div class="panel-footer">
      <%= link_to "Mark as Done", mark_as_done_order_path(order), remote: true, method: :put, class: "btn btn-primary btn-xl", style: "display: block; width: 100%;" %>
    </div>
  </div>
</div>
