<div id="order_<%= order.id %>" class="column">
  <div id="loader_<%= order.id %>">
    <%#= image_tag "loader.gif" %>
  </div>

  <div class="large-12 columns callout">
    <div class="large-6 medium-6 small-6 columns">
      <p>Order #<%= order.id %></p>
    </div>
    <div class="large-6 medium-6 small-6 columns" style="text-align:right;">
      <b><%= order.created_at.strftime("%I:%M:%S") %></b>
    </div>

    <div class="large-12 columns">
      <p>Ph# <%= order.phone %></p>
    </div>

    <hr>

    <div class="large-12 columns">
      <div class="large-4 medium-4 small-4 columns">
        <p>Section<br/><b><%= order.section %></b></p>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <p>Row<br/><b><%= order.row %></b></p>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <p>Seat<br/><b><%= order.seat %></b></p>
      </div>
    </div>

    <hr>

    <% [2,3,4].sample.times do |i| %>
      <div class="large-12 columns">
        <div class="large-8 medium-8 small-8 columns">
          <%= ["Hotdog", "M Coke", "S Curly Fries", "Hamburger"].sample %>
        </div>
        <div class="large-4 medium-4 small-4 columns">
          <%= [1, 2, 3].sample %>
        </div>
      </div>
    <% end %>

    <div class="large-12 columns">
      <br/>
      <a href="#" class="button expanded" data-behavior="mark-as-done" data-order-id="<%= order.id %>">Mark as Done</a>
    </div>
  </div>
</div>
