<div class="layout-container">
  <%= render partial: "admin/shared/top_nav_bar" %>
  <%= render partial: "admin/shared/side_bar" %>

  <div class="sidebar-layout-obfuscator"></div>
  <!-- Main section-->
  <main class="main-container">
    <!-- Page content-->
    <section>
      <%= render partial: "admin/shared/game_header" %>

      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-2 col-sm-3">
            <%= link_to "Download PDF Report", admin_reports_in_pdf_path, class: "mb-sm btn btn-primary ripple" %>
          </div>
          <div class="col-lg-5 col-sm-4">
            <select name="account" class="form-control">
              <option>1 week  (06-30-16 - 06-23-16)</option>
              <option>2 weeks (06-30-16 - 06-16-16)</option>
              <option>3 weeks (06-30-16 - 06-09-16)</option>
              <option>1 month (06-30-16 - 06-01-16)</option>
            </select>
          </div>
        </div>

        <br/><br/>

        <h6 class="mt0 small-mt0">Hourly Sales</h6><br/>

        <div class="card">
          <div class="table-responsive bootgrid">
            <table id="bootgrid-basic" class="table table-striped">
              <thead>
                <tr>
                  <th data-column-id="time-range">Time Range</th>
                  <th data-column-id="transactions"># Transactions</th>
                  <th data-column-id="items"># Items</th>
                  <th data-column-id="avg-sales-check">Avg. Sales/Check</th>
                  <th data-column-id="sales">Sales</th>
                  <th data-column-id="sales-percentage">% Sales</th>
                </tr>
              </thead>
              <tbody>
                <% 44.times do |index| %>
                  <tr>
                    <td>
                      <%= fifteen_minutes_periods[index] %> - <%= fifteen_minutes_periods[index + 1] %>
                    </td>
                    <td><%= (1..50).to_a.sample %></td>
                    <td><%= (10..500).to_a.sample %></td>
                    <td><%= (10..25).to_a.sample %></td>
                    <td><%= (700..1500).to_a.sample %></td>
                    <td>% <%= (7..70).to_a.sample %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <h6 class="mt0 small-mt0">Payments overview</h6><br/>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-heading">
                <div class="card-title small-card-title">Orders Statistics</div><small>Based on the last hours.</small>
              </div>
              <div class="card-body">
                <div id="bar-flotchart-orders-graph" class="flot-chart flot-chart-lg"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="card">
              <div class="card-heading">
                <div class="card-title small-card-title">Total Payments - 2824.75</div>
              </div>
              <div class="card-body">
                <div id="line-flotchart" class="flot-chart flot-chart-lg"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Credit (incl. tips)</h6>
              <h6>1073.75</h6>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Actual Cash (incl. tips)</h6>
              <h6 class="mt0 small-mt0"></h6>
              <h6>1764.75</h6>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Total Discounts</h6>
              <h6>147.75</h6>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Sales Tax</h6>
              <h6>231.53</h6>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Net Sales (incl. tips)</h6>
              <h6>2593.23</h6>
            </div>
          </div>
        </div>
      </div>

    </section>

    <%= render partial: "admin/shared/footer" %>
  </main>
</div>
