<div class="layout-container">
  <%= render partial: "admin/shared/top_nav_bar" %>
  <%= render partial: "admin/shared/side_bar" %>

  <div class="sidebar-layout-obfuscator"></div>
  <!-- Main section-->
  <main class="main-container">
    <!-- Page content-->
    <section>
      <%= render partial: "admin/shared/game_header" %>

      <div class="container-fluid">
        <h6 class="mt0 small-mt0">Hourly Sales</h6><br/>
        <button type="button" class="mb-sm btn btn-primary ripple">Download CSV<span class="md-ripple"></span></button>
        <div class="card">
          <div class="table-responsive bootgrid">
            <table id="bootgrid-basic" class="table table-striped">
              <thead>
                <tr>
                  <th data-column-id="time-range">Time Range</th>
                  <th data-column-id="transactions"># Transactions</th>
                  <th data-column-id="items"># Items</th>
                  <th data-column-id="avg-sales-check">Avg. Sales/Check</th>
                  <th data-column-id="sales">Sales</th>
                  <th data-column-id="sales-percentage">% Sales</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10:00AM - 10:59AM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
                <tr>
                  <td>11:00AM - 11:59AM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
                <tr>
                  <td>12:00PM - 12:59PM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
                <tr>
                  <td>01:00PM - 01:59PM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
                <tr>
                  <td>02:00PM - 02:59PM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
                <tr>
                  <td>03:00PM - 03:59PM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
                <tr>
                  <td>04:00PM - 04:59PM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
                <tr>
                  <td>05:00PM - 06:59PM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
                <tr>
                  <td>07:00PM - 07:59PM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
                <tr>
                  <td>08:00PM - 08:59PM</td>
                  <td><%= (1..50).to_a.sample %></td>
                  <td><%= (10..500).to_a.sample %></td>
                  <td><%= (10..25).to_a.sample %></td>
                  <td><%= (700..1500).to_a.sample %></td>
                  <td>% <%= (7..70).to_a.sample %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <h6 class="mt0 small-mt0">Payments overview</h6><br/>
        <button type="button" class="mb-sm btn btn-primary ripple">Download CSV<span class="md-ripple"></span></button>
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-heading">
                <div class="card-title small-card-title">Orders Statistics</div><small>Based on the last hours.</small>
              </div>
              <div class="card-body">
                <div id="bar-flotchart-orders-graph" class="flot-chart flot-chart-lg"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <button type="button" class="mb-sm btn btn-primary ripple">Download CSV<span class="md-ripple"></span></button>
            <div class="card">
              <div class="card-heading">
                <div class="card-title small-card-title">Total Payments - 2824.75</div>
              </div>
              <div class="card-body">
                <div id="line-flotchart" class="flot-chart flot-chart-lg"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Credit (incl. tips)</h6>
              <h6>1073.75</h6>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Actual Cash (incl. tips)</h6>
              <h6 class="mt0 small-mt0"></h6>
              <h6>1764.75</h6>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Total Discounts</h6>
              <h6>147.75</h6>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Sales Tax</h6>
              <h6>231.53</h6>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="well well-lg">
              <h6 class="mt0 small-mt0">Net Sales (incl. tips)</h6>
              <h6>2593.23</h6>
            </div>
          </div>
        </div>
      </div>

    </section>

    <%= render partial: "admin/shared/footer" %>
  </main>
</div>
