<!-- sidebar-->
<aside class="sidebar-container">
  <div class="sidebar-header">
    <div class="pull-right pt-lg text-muted hidden">
      <em class="ion-close-round"></em>
    </div>
    <a href="/admin">
      <%= image_tag "seat-joy-logo-transparent.png",  style: "height:55px" %>
      <!-- <span class="sidebar-header-logo-text">Seatjoy</span> -->
    </a>
  </div>

  <div class="sidebar-content">
    <div class="sidebar-toolbar text-center">
      <a href="">
        <%= image_tag "user/jay.jpg", class: "img-circle thumb64" %>
      </a>
      <div class="mt">Welcome, Jay</div>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li class="<%= @dashboard_klass %>">
          <%= link_to admin_path(small: params[:small]), class: "ripple" do %>
            <span class="pull-right nav-label"></span>
            <span class="nav-icon">
              <img src="" data-svg-replace="<%= asset_path('icons/aperture.svg') %>" alt="MenuItem" class="hidden">
            </span>
            <span>Dashboard</span>
          <% end %>
        </li>
        <li class="<%= @reports_klass %>">
          <%= link_to admin_reports_path(small: params[:small]), class: "ripple" do %>
            <span class="pull-right nav-label"></span>
            <span class="nav-icon">
              <img src="" data-svg-replace="<%= asset_path('icons/radio-waves.svg') %>" alt="MenuItem" class="hidden">
            </span>
            <span>Reports</span>
          <% end %>
        </li>
        <li class="<%= @inventory_klass %>">
          <%= link_to admin_inventory_path(small: params[:small]), class: "ripple" do %>
            <span class="pull-right nav-label"></span>
            <span class="nav-icon">
              <img src="" data-svg-replace="<%= asset_path('icons/connection-bars.svg') %>" alt="MenuItem" class="hidden">
            </span>
            <span>Inventory</span>
          <% end %>
        </li>
        <li class="<%= @upsell_klass %>">
          <%= link_to admin_upsell_path(small: params[:small]), class: "ripple" do %>
            <span class="pull-right nav-label"></span>
            <span class="nav-icon">
              <img src="" data-svg-replace="<%= asset_path('icons/clipboard.svg') %>" alt="MenuItem" class="hidden">
            </span>
            <span>Upsell</span>
          <% end %>
        </li>
        <li class="<%= @runners_klass %>">
          <%= link_to admin_runners_path(small: params[:small]), class: "ripple" do %>
            <span class="pull-right nav-label"></span>
            <span class="nav-icon">
              <img src="" data-svg-replace="<%= asset_path('icons/person-stalker.svg') %>" alt="MenuItem" class="hidden">
            </span>
            <span>Runners</span>
          <% end %>
        </li>
      </ul>
    </nav>

  </div>
</aside>
<!-- sidebar -->
